{% macro render_pagination(pagination) %}

<nav class="pagination  is-right" role="navigation" aria-label="pagination">
    {% if pagination.has_prev %}
         <a class="pagination-previous" href="{{ pagination.prev|url }}">Previous</a>
    {% else %}
        <a class="pagination-previous" disabled>Previous</a>
    {% endif %}

    {% if pagination.has_next %}
        <a class="pagination-next" href="{{ pagination.next|url }}">Next page</a>
    {% else %}
        <a class="pagination-next disabled" >Next page</a>
    {% endif %}
</nav>
{% endmacro %}
