{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block outerbody %}
<div class="column is-three-fifths content">
  {% for child in this.children %}
      <div class="card">
        <div class="card-content">
            <div class="content">
                <h2><a href="{{ child|url }}">{{ child.title }}</a></h2>
            </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}
