<?xml version='1.0' encoding='utf-8'?>
<schedule>
    <version>1</version>
    <conference>
        <acronym>S77</acronym>
        <title>section77 e.V.</title>
        <start>2017-12-05</start>
        <end>2025-05-17</end>
        <days>1</days>
        <timeslot_duration>00:15</timeslot_duration>
    </conference>

    <day index="365" date="2025-02-04" start="2025-02-04T07:00:00" end="2025-02-05T10:00:00">
        <room name="Chaostreff">
            <event id="020401">
                <date>2025-02-04T20:00:00+01:00</date>
                <start>20:00</start>
                <duration>03:00</duration>
                <room>Gleis 0</room>
                <title>Chaostreff</title>
                <subtitle />
                <persons />
            </event>
        </room>
    </day>
</schedule>
