<?xml version='1.0' encoding='utf-8'?>
<schedule>
    <version>1</version>
    <conference>
        <acronym>S77</acronym>
        <title>section77 e.V.</title>
        <start>2017-12-05</start>
        <end>2025-05-17</end>
        <days>1</days>
        <timeslot_duration>00:15</timeslot_duration>
    </conference>

    {%- for year in site.get('/kalender').children %}
    {%- for event in year.children %}
    <day index="365" date="{{ event.date.strftime("%Y-%m-%d") }}" start="{{ event.date.strftime("%Y-%m-%dT%H:%M:%S") }}" end="{{ event.date.strftime("%Y-%m-%dT%H:%M:%S") }}">
        <room name="Chaostreff">
            <event id="{{ event._slug }}">
                <date>{{ event.date.strftime("%Y-%m-%dT%H:%M:%S") }}</date>
                <start>{{ event.date.strftime("%H:%M:%S") }}</start>
                <duration>{{ event.date |duration(event.end)  }}</duration>
                <room>Gleis 0</room>
                <title>{{ event.title }}</title>
                <subtitle />
                <persons />
            </event>
        </room>
    </day>
    {%- endfor %}
    {%- endfor %}
</schedule>
