_model: event
---
title: Template
---
date: 1970-01-01 00:00
---
type: Event
---
url: https://osm.org/go/0DLdKX764?node=7710279123
---
body:

#### text-block ####
text: Wie jeden 3. Donnerstag eines Monats findet der 3D-Drucker-Stammtisch im Hackspace statt.

Wir treffen uns in Gleis 0. Randbedingungen:

 - Nachweis über eines der 2G (geimpft oder genesen, ein Test reicht nicht aus)
 - keine Maskenpflicht im Innenraum
 - wir erfassen die Kontaktdaten (alternativ ist auch ein Check-In per Corona Warn App möglich)


----
class: default

