_model: event
---
title: Template
---
date: 1970-01-01 00:00
---
type: Event
---
url: https://osm.org/go/0DLdKX764?node=7710279123
---
body:

#### text-block ####
text: Dienstagstreffen des Vereins (wie jeden 1. und 3. (manchmal auch 5.) Dienstag des Monats).

Wir treffen uns in Gleis 0. Randbedingungen:

 - Nachweis über eines der 2G (geimpft oder genesen, ein Test reicht nicht aus)
 - keine Maskenpflicht im Innenraum
 - Abstandsregeln gelten nicht mehr
 - wir erfassen die Kontaktdaten (alternativ ist auch ein Check-In per Corona Warn App möglich)


----
class: default
