_model: event
---
title: 3D Druck Stammtisch
---
date: 1970-01-01 20:00
---
end: 1970-01-01 22:00
---
type: Event
---
url: https://www.openstreetmap.org/node/7710279123#map=19/48.47696363925934/7.94585645198822
---
body:

#### text-block ####
 text: Wie jeden 3. Donnerstag eines Monats findet der 3D-Drucker-Stammtisch im Hackspace statt.

----
class: default




