_model: event
---
title: Template
---
date: 1970-01-01 14:00
---
date: 1970-01-01 17:00
---
type: Event
---
url: https://osm.org/go/0DLdKX764?node=7710279123
---
body:

#### text-block ####
text: Es gibt kein festes Programm - mitzubringen wären Neugier, Interesse, Fragen und gerne auch Bastelmaterial.

Wir treffen uns in Gleis 0. 

https://wiki.section77.de/freies-hacken/einladung
----
class: default

