_model: event
---
title: Template
---
date: 1970-01-01 00:00
---
type: Event
---
url: https://osm.org/go/0DLdKX764?node=7710279123
---
body:

#### text-block ####
text: Wie jeden 3. Donnerstag eines Monats findet der 3D-Drucker-Stammtisch im virtuellen Hackspace statt.

Wegen der Pandemie finden die Treffen derzeit nur virtuell statt.


----
class: default




